<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->


 <!-- Sidebar -->


<div id="sidebar-wrapper" class="col-md-2">
    <div class="sidebar-nav">


        <h4>My Dinner</h4>
        People: <input class="number" type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" ></input>
        <hr/>
        <div class="row bg-primary">
        <div class="col-md-6 text-right">Dish Name</div>
        <div class="col-md-6 text-right">Cost</div>
        </div>
        <a ng-click="removecookie()">Delete all</a>
        
        <div class="row ingredient" ng-repeat="dish in fullMenu()">
            <div class="col-md-1">
                <!-- Need to add ng-click action for remove item from menu-->
                <a ng-click="removeDishFromMenu($event)" class="btn-small btn-danger" id="{{dish.RecipeID}}">X</a>
            </div>
            <div class="col-md-8">
            {{dish.Title}}
            </div>
            <div class="col-md-2 text-right">{{getPriceOfDish(dish) | number:2}}</div>
        </div>
        <div class="row bg-info">
        <div id="sidebar-totalprice" class="col-md-12 text-right">Total Price: {{getTotalMenuPrice()  | number:2}}</div>
        </div>
        <hr/>
        <a ng-href="#/overview" id="sidebarConfirmButton" class="btn btn-default col-md-offset-3">Confirm Dinner</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->
