<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
 
     
 

 <div id="transbox"><!-- Transparent white box -->
	
	  <h3>A Home Dinner Service</h3>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p> 

	  <a href="#/search" class="btn btn-primary">Create New Dinner</a>
</div> <!--end transbox-->