<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
	<div class="page-bar row">
		<div class="col-md-10">
			<h3 id="fullmenu-numguests-title">My Dinner: {{numberOfGuests}} people</h3>
		</div>
		<div class="col-md-2"><br />
			<a ng-href="#/search" class="btn btn-default" id="backToMainButton" >Go back and edit dinner</a>
		</div>
	</div> <!--ends page-5-bar-->


<!--Main container for showing full menu-->
	<div class="container">
		<div class="row">
			<div class="fullmenu-main-container full-recipes-list col-md-8" ng-repeat="dish in fullMenu">
				
	<h3 ng-src="{{dish.Title}}" id="dishHeader" class="title">{{dish.Title}}</h3>
			<div class="thumbnail-dish"><img ng-src="{{dish.ImageURL}}" class="dishImage" alt="Image of dish, title of dish is {{dish.Title}}" /></div>

			</div>
	    	<div class="full-menu-totalprice col-md-2">TOTAL PRICE <h1>{{getTotalMenuPrice() | number:2}}kr</h1></div>
	    </div>  
	    <hr/>
	  
		</div>


	<div class="row">	
	    	<a ng-href="#preparation" class="btn btn-default col-md-3 col-md-offset-4" id="printFull">
	    	
Print Full Recipe
	    	</a>
	</div>	

 