<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
	<div class="page-bar row">
		<div class="col-md-10">
			<h3 id="fullmenu-numguests-title">My Dinner: 4 people</h3>
		</div>
		<div class="col-md-2">
			<button ng-click="$backButton()" id="backToMainButton" >Go back and edit dinner</button>
		</div>
	</div> <!--ends page-5-bar-->

	<div class="row">
		<div class="col-md-offset-1"></div>
			<div class="col-md-3" ng-repeat="dish in fullMenu">
			<h3 ng-src="{{dish.Title}}" id="dishHeader" class="title">{{dish.Title}}</h3>
			<div class="thumbnail-dish"><img ng-src="{{dish.ImageURL}}" class="dishImage" alt="Image of dish, title of dish is {{dish.Title}}" /></div>
		</div>
		<div class="col-md-2">
		TOTAL PRICE
		</div>
	</div>
	<div class="row">	
	    	<a ng-href="#preparation">
	    		<button id="printFull" class="col-md-3 col-md-offset-4">Print Full Recipe</button>
	    	</a>
	</div>	

 