<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div class="row" id="page-content-wrapper" >
<div class="page-bar row">
		<div class="col-md-9">
			<h3>My Dinner: 4 people</h3>
		</div>
		<div class="col-md-2">
			<button id="backToMainButton" ng-click="$backButton()" >Go back and edit dinner</button>
		</div>
	</div> <!--ends page-bar-->


	<div class="page-6-content">
	<div class="row">
		<div class="col-md-2" id="mainImage">
			<img src="images/toast.jpg"/>
		</div>
		<div class="col-md-3">
			<h3>
				<div id="mainName">Toast</div>
			</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla sit amet turpis non tempus. Praesent nec diam a augue mattis dictum nec sed odio. Fusce quis nisi nibh.</p>
		</div>
		<div class="col-md-5">
			<h4>Preparations</h4>
			<p><div id="mainDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla sit amet turpis non tempus. Praesent nec diam a augue mattis dictum nec sed odio. Fusce quis nisi nibh.</div></p>
		</div>
	</div>



</div>

 